<a href="https://colab.research.google.com/github/kunal-jain123/chechchek/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/IMDB_Top250Engmovies2_OMDB_Detailed.csv")

In [ ]:
df.shape

(250, 38)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         250 non-null    int64
 1   Title              250 non-null    object
 2   Year               250 non-null    int64
 3   Rated              250 non-null    object
 4   Released           248 non-null    object
 5   Runtime            250 non-null    object
 6   Genre              250 non-null    object
 7   Director           250 non-null    object
 8   Writer             249 non-null    object
 9   Actors             250 non-null    object
 10  Plot               250 non-null    object
 11  Language           250 non-null    object
 12  Country            250 non-null    object
 13  Awards             245 non-null    object
 14  Poster             250 non-null    object
 15  Ratings.Source     250 non-null    object
 16  Ratings.Value      250 non-null    object
 17  Metascore          177 non-null    float64
 18  imdbRating         250 non-null    float64
 19  imdbVotes          250 non-null    object
 20  imdbID             250 non-null    object
 21  Type               250 non-null    object
 22  tomatoMeter        0 non-null      float64
 23  tomatoImage        0 non-null      float64
 24  tomatoRating       0 non-null      float64
 25  tomatoReviews      0 non-null      float64
 26  tomatoFresh        0 non-null      float64
 27  tomatoRotten       0 non-null      float64
 28  tomatoConsensus    0 non-null      float64
 29  tomatoUserMeter    0 non-null      float64
 30  tomatoUserRating   0 non-null      float64
 31  tomatoUserReviews  0 non-null      float64
 32  tomatoURL          250 non-null    object
 33  DVD                247 non-null    object
 34  BoxOffice          75 non-null     object
 35  Production         250 non-null    object
 36  Website            131 non-null    object
 37  Response           250 non-null    bool
dtypes: bool(1), float64(12), int64(2), object(23)
memory usage: 72.6+ KB

In [ ]:
df.head()

,Unnamed: 0,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,...,tomatoConsensus,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,tomatoURL,DVD,BoxOffice,Production,Website,Response
0,1,The Shawshank Redemption,1994,R,14 Oct 1994,142 min,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/shawshank_rede...,27 Jan 1998,NaN,Columbia Pictures,NaN,True
1,2,The Godfather,1972,R,24 Mar 1972,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo (screenplay), Francis Ford Coppola ...","Marlon Brando, Al Pacino, James Caan, Richard ...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/godfather/,09 Oct 2001,NaN,Paramount Pictures,http://www.thegodfather.com,True
2,3,The Godfather: Part II,1974,R,20 Dec 1974,202 min,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola (screenplay), Mario Puzo ...","Al Pacino, Robert Duvall, Diane Keaton, Robert...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/godfather_part...,24 May 2005,NaN,Paramount Pictures,http://www.thegodfather.com/,True
3,4,The Dark Knight,2008,PG-13,18 Jul 2008,152 min,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_dark_knight/,09 Dec 2008,"$533,316,061",Warner Bros. Pictures/Legendary,http://thedarkknight.warnerbros.com/,True
4,5,12 Angry Men,1957,APPROVED,01 Apr 1957,96 min,"Crime, Drama",Sidney Lumet,"Reginald Rose (story), Reginald Rose (screenplay)","Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/1000013-12_ang...,06 Mar 2001,NaN,Criterion Collection,http://www.criterion.com/films/27871-12-angry-men,True

In [ ]:
!pip install rake_nltk

Requirement already satisfied: rake_nltk in /usr/local/lib/python3.7/dist-packages (1.0.6)
Requirement already satisfied: nltk<4.0.0,>=3.6.2 in /usr/local/lib/python3.7/dist-packages (from rake_nltk) (3.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (2022.4.24)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (4.64.0)

In [ ]:
from rake_nltk import Rake
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
df = df[['Title','Genre','Director','Actors','Plot']]

In [ ]:
df['Key_words'] = " "
for index, row in df.iterrows():
  plot = row['Plot']
  r = Rake()
  r.extract_keywords_from_text(plot)
  key_words_dict_scores = r.get_word_degrees()
  row['Key_words'] = list(key_words_dict_scores.keys())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df.drop(columns = ['Plot'], inplace = True)

In [ ]:
df.head()

,Title,Genre,Director,Actors,Key_words
0,The Shawshank Redemption,"Crime, Drama",Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","[two, imprisoned, men, bond, number, years, fi..."
1,The Godfather,"Crime, Drama",Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Richard ...","[aging, patriarch, organized, crime, dynasty, ..."
2,The Godfather: Part II,"Crime, Drama",Francis Ford Coppola,"Al Pacino, Robert Duvall, Diane Keaton, Robert...","[early, life, career, vito, corleone, 1920s, n..."
3,The Dark Knight,"Action, Crime, Drama",Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...","[menace, known, joker, emerges, mysterious, pa..."
4,12 Angry Men,"Crime, Drama",Sidney Lumet,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....","[jury, holdout, attempts, prevent, miscarriage..."

In [ ]:
df['Actors'] = df['Actors'].map(lambda x: x.split(',')[:3])

In [ ]:
df['Genre'] = df['Genre'].map(lambda x: x.lower().split(','))

In [ ]:
df.head()

,Title,Genre,Director,Actors,Key_words
0,The Shawshank Redemption,"[crime, drama]",Frank Darabont,"[Tim Robbins, Morgan Freeman, Bob Gunton]","[two, imprisoned, men, bond, number, years, fi..."
1,The Godfather,"[crime, drama]",Francis Ford Coppola,"[Marlon Brando, Al Pacino, James Caan]","[aging, patriarch, organized, crime, dynasty, ..."
2,The Godfather: Part II,"[crime, drama]",Francis Ford Coppola,"[Al Pacino, Robert Duvall, Diane Keaton]","[early, life, career, vito, corleone, 1920s, n..."
3,The Dark Knight,"[action, crime, drama]",Christopher Nolan,"[Christian Bale, Heath Ledger, Aaron Eckhart]","[menace, known, joker, emerges, mysterious, pa..."
4,12 Angry Men,"[crime, drama]",Sidney Lumet,"[Martin Balsam, John Fiedler, Lee J. Cobb]","[jury, holdout, attempts, prevent, miscarriage..."

In [ ]:

df['Director'] = df['Director'].map(lambda x: x.split(' '))

In [ ]:
df.head()

,Title,Genre,Director,Actors,Key_words
0,The Shawshank Redemption,"[crime, drama]","[Frank, Darabont]","[Tim Robbins, Morgan Freeman, Bob Gunton]","[two, imprisoned, men, bond, number, years, fi..."
1,The Godfather,"[crime, drama]","[Francis, Ford, Coppola]","[Marlon Brando, Al Pacino, James Caan]","[aging, patriarch, organized, crime, dynasty, ..."
2,The Godfather: Part II,"[crime, drama]","[Francis, Ford, Coppola]","[Al Pacino, Robert Duvall, Diane Keaton]","[early, life, career, vito, corleone, 1920s, n..."
3,The Dark Knight,"[action, crime, drama]","[Christopher, Nolan]","[Christian Bale, Heath Ledger, Aaron Eckhart]","[menace, known, joker, emerges, mysterious, pa..."
4,12 Angry Men,"[crime, drama]","[Sidney, Lumet]","[Martin Balsam, John Fiedler, Lee J. Cobb]","[jury, holdout, attempts, prevent, miscarriage..."

In [ ]:
for index, row in df.iterrows():
  row['Actors'] = [x.lower().replace(' ','') for x in row['Actors']]
  row['Director'] = ''.join(row['Director']).lower()

In [ ]:
df['Director'] = df['Director'].apply(lambda x:x.split())

In [ ]:
df.head()

,Title,Genre,Director,Actors,Key_words
0,The Shawshank Redemption,"[crime, drama]",[frankdarabont],"[timrobbins, morganfreeman, bobgunton]","[two, imprisoned, men, bond, number, years, fi..."
1,The Godfather,"[crime, drama]",[francisfordcoppola],"[marlonbrando, alpacino, jamescaan]","[aging, patriarch, organized, crime, dynasty, ..."
2,The Godfather: Part II,"[crime, drama]",[francisfordcoppola],"[alpacino, robertduvall, dianekeaton]","[early, life, career, vito, corleone, 1920s, n..."
3,The Dark Knight,"[action, crime, drama]",[christophernolan],"[christianbale, heathledger, aaroneckhart]","[menace, known, joker, emerges, mysterious, pa..."
4,12 Angry Men,"[crime, drama]",[sidneylumet],"[martinbalsam, johnfiedler, leej.cobb]","[jury, holdout, attempts, prevent, miscarriage..."

In [ ]:
df['tags'] = df['Genre'] + df['Director'] + df['Actors'] + df['Key_words']

In [ ]:
df.head()

,Title,Genre,Director,Actors,Key_words,tags
0,The Shawshank Redemption,"[crime, drama]",[frankdarabont],"[timrobbins, morganfreeman, bobgunton]","[two, imprisoned, men, bond, number, years, fi...","[crime, drama, frankdarabont, timrobbins, mor..."
1,The Godfather,"[crime, drama]",[francisfordcoppola],"[marlonbrando, alpacino, jamescaan]","[aging, patriarch, organized, crime, dynasty, ...","[crime, drama, francisfordcoppola, marlonbran..."
2,The Godfather: Part II,"[crime, drama]",[francisfordcoppola],"[alpacino, robertduvall, dianekeaton]","[early, life, career, vito, corleone, 1920s, n...","[crime, drama, francisfordcoppola, alpacino, ..."
3,The Dark Knight,"[action, crime, drama]",[christophernolan],"[christianbale, heathledger, aaroneckhart]","[menace, known, joker, emerges, mysterious, pa...","[action, crime, drama, christophernolan, chr..."
4,12 Angry Men,"[crime, drama]",[sidneylumet],"[martinbalsam, johnfiedler, leej.cobb]","[jury, holdout, attempts, prevent, miscarriage...","[crime, drama, sidneylumet, martinbalsam, joh..."

In [ ]:
new_df = df.drop(columns=['Genre', 'Director','Key_words','Actors'])

In [ ]:
new_df.head()

                      Title                                               tags
0  The Shawshank Redemption  [crime,  drama, frankdarabont, timrobbins, mor...
1             The Godfather  [crime,  drama, francisfordcoppola, marlonbran...
2    The Godfather: Part II  [crime,  drama, francisfordcoppola, alpacino, ...
3           The Dark Knight  [action,  crime,  drama, christophernolan, chr...
4              12 Angry Men  [crime,  drama, sidneylumet, martinbalsam, joh...

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [ ]:
new_df.head()

                      Title                                               tags
0  The Shawshank Redemption  crime  drama frankdarabont timrobbins morganfr...
1             The Godfather  crime  drama francisfordcoppola marlonbrando a...
2    The Godfather: Part II  crime  drama francisfordcoppola alpacino rober...
3           The Dark Knight  action  crime  drama christophernolan christia...
4              12 Angry Men  crime  drama sidneylumet martinbalsam johnfied...

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
count = CountVectorizer()
count_matrix = count.fit_transform(df['tags'])

AttributeError: ignored